{% extends 'base.html' %}

{% block title  %}
    Edit Settings
{% endblock %}

{% block content %}

<style>
    form .btn:hover{
        background-color: #00b3db;
        color: #fff;
    }
</style>

<h1>Edit Settings</h1>
<br><br>
{% if user.is_authenticated %}
    {{ user.profile.bio }}

    <br><br>


    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
        
            <button class="btn btn-secondary">Update</button>
    </div>
{% else %}
    <h1 class="danger">
        You are not logged in..
    </h1>
{% endif %}
{% endblock %}