{% extends 'base.html' %}

{% block title  %}
    Success Passowrd Change
{% endblock %}

{% block content %}

    <style>
        form .btn:hover{
            background-color: #00b3db;
            color: #fff;
        }
        form .btn{
            align-self: center;
        }
        form a{
            text-decoration: none;
            color: #fff;
        }
    </style>

    <h1>
        Your Password Changed Successfully
    </h1>

    <br><br>

    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <button class="btn btn-secondary">
                <a href="{% url 'login' %}"> Login</a>
            </button>
            
    </div>

{% endblock %}
