{% extends 'base.html' %}

{% block title  %}
    Create A New Blog Category!
{% endblock %}

{% block content %}

<style>
    form .btn:hover{
        background-color: #00b3db;
        color: #fff;
    }
    h1{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 2rem;
        text-decoration: none;
        text-align: center;
    }
</style>

<h1>Add Category</h1>
<br><br>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
    
        <button class="btn btn-secondary">Add Category
        </button>
</div>

{% endblock %}