<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="./css/style.css"> -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <title>Welcome | {%block title %}  {% endblock %} </title>
  </head>
  <body>      
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark"> 
          <a class="navbar-brand" href="{% url 'home' %}" style="margin-left : 20px; margin-right: 20px;">
            <!-- <img src="./img/logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy"> -->
            TecH BoiZs
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <!-- authenticated if -->
            {% if user.is_authenticated %}
              {% if user.is_staff %}
                {% if 'add_post' in request.path %}
                    <li class="nav-item">
                      <a class="nav-link active" href="{% url 'add_post' %}">Add Post</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'add_post' %}">Add Post</a>
                    </li>
                {% endif %}
                {% if 'add_category' in request.path %}
                  <li class="nav-item">
                    <a class="nav-link active" href="{% url 'add_category' %}">Add Category</a>
                  </li>
                {% else %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'add_category' %}">Add Category</a>
                  </li>
                {% endif %}
            {% endif %} 
          {% endif %} 
            <!-- Category Menu Code -->
            {% if cat_menu %}
                <li class="nav-item dropdown"> 
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories <!-- Dropdown Categories -->
                  </a> 
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    {% for item in cat_menu %}
                      <a class="dropdown-item" href="{% url 'category' item|slugify %}">
                        {{item}}
                      </a>
                    {% endfor %}
                  </div>
                </li>
              {% if 'category-list' in request.path %}
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'category_list' %}">Categories</a> <!-- Category List -->
                </li> 
              {% else %}  
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'category_list' %}">Categories</a> <!-- Category List -->
                </li> 
              {% endif %}
            {% endif %}  
          </ul>
          
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown active">
              {% if user.is_authenticated %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                  style="margin-right : 60px;">
                    {{ user.first_name }} {{ user.last_name }}                  
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="{% url 'edit_profile' %}">Settings</a>
                  {% if user.profile.id %}
                    <a class="dropdown-item" href="{% url 'edit_profile_page' user.profile.id %}">Edit Profile</a> 
                    <a class="dropdown-item" href="{% url 'show_profile_page' user.profile.id %}">Show Profile</a>
                    <a class="dropdown-item" href="{% url 'change-password' %}">Change Password</a>
                  {% else %}
                    <a class="dropdown-item" href="{% url 'create_profile_page' %}">Create Profile</a>
                  {% endif %}
                  <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
              {% else %}
                <a class="nav-link" href="{% url 'login' %}" style="margin-right : 10px;">
                  Login                  
                </a>
              {% endif %}
              </div>
            </li>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown active">
                {% if user.is_authenticated == False %}
                  <a class="nav-link" href="{% url 'register' %}" style="margin-right : 60px;">
                      Register                  
                  </a>
                {% endif %}
                </div>
              </li>
            </ul>
          </ul>
        </div>
      </nav>
    <br>
    <div class="container">
        {% block content %}
    
    
        {% endblock %}

    </div>

    <!-- <footer>
      <p>
        Copyright
      </p>
    </footer> -->

    <footer id="main-footer" class="py-4 bg-dark text-white text-center" style="margin-top: 40px;">
      Copyright &copy;
      <span class="year"></span> Tech Boizs 2021
      
  </footer>

<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/28528064ba.js" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  </body>
</html>